.start-game-container {
  margin: 0 auto;
  display: flex;
  font-size: 100px;
  width: 460px;
  height: 471px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 32px;
  width: 72px;
}
